.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(../../img/Menu\ Aberto.png);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}