/* Tablet's screen */

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper {
        width: 60%;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }
}

/* Desktop's screen */

@media screen and (min-width: 1728px) {
    .carrossel__container {
        align-items: center;
        display: flex;
        margin: 0 20vw 3em 20vw;
    }

    .swiper-pagination {
        margin: 1em 0;
    }
}